# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

src-tauri/target/
node_modules
dist/
dist-ssr
*.local
dist-python/
src-python/build/
src-python/release/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist-python/backend-x86_64-pc-windows-msvc.exe
src-python/build/backend-x86_64-pc-windows-msvc/PKG-00.toc
src-python/build/backend-x86_64-pc-windows-msvc/EXE-00.toc
src-python/build/backend-x86_64-pc-windows-msvc/backend-x86_64-pc-windows-msvc.pkg
src-python/build/backend-x86_64-pc-windows-msvc/Analysis-00.toc
